{% extends 'base.html.twig' %}
{% block body %} 

<section class="banner bg-tertiary position-relative overflow-hidden">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
<div class="block text-center text-lg-start pe-0 pe-xl-5">
          <h1 class="text-capitalize mb-4">S'abonner</h1>
          
        </div>
            <h5 class="card-title">Abonnement</h5>
            {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
  <div class="row">
            <div class="form-group">
                {{ form_label(form.moyenTransportA, 'Moyen de transport') }}
                {{ form_widget(form.moyenTransportA, { 'attr': {'class': 'form-control mb-3'} }) }}
                {{ form_errors(form.moyenTransportA) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plan, 'Plan') }}
                {{ form_widget(form.plan, { 'attr': {'class': 'form-control mb-3'} }) }}
                {{ form_errors(form.plan) }}
            </div>

        <div class="col-lg-6 mb-4 pb-2">
     {{ form_label(form.etudiantA, 'Etudiant?') }}
   {{ form_widget(form.etudiantA,{attr: {id: 'etudiant_a'}}) }}

    {{ form_errors(form.etudiantA) }}
            </div>

            {# <div class="form-group">
                {{ form_label(form.redEvA, 'Code promo') }}
                {{ form_widget(form.redEvA) }}
                {{ form_errors(form.redEvA) }}
            </div> #}

            
            
            


<div class="col-lg-6 mb-4 pb-2" style="color:black">
    {{ form_label(form.dateA, 'Date', {'label_attr': {'style': 'color:black'}}) }}
{{ form_widget(form.dateA, { 'attr': {'class': 'form-control ', 'style': 'background-color: black; color: black !important;'} }) }}
    {{ form_errors(form.dateA) }}                
</div>

            <div>
                <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
            </div>
</div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
</div>
</div>
</section>
    <script>
        const planSelect = document.querySelector('#abonnement_idtypeA');
        const dateExpInput = document.querySelector('#abonnement_dateExpA');

        // Set the initial value for dateExpA
        updateDateExp(planSelect.value);

        // Listen for changes in the plan selectbox
        planSelect.addEventListener('change', function() {
            updateDateExp(planSelect.value);
        });

        // Update the dateExpA field based on the selected plan
        function updateDateExp(planId) {
            switch (planId) {
                case '1':
                    dateExpInput.value = '{{ date('+1 year')|date('Y-m-d') }}';
                    break;
                case '2':
                    dateExpInput.value = '{{ date('+6 months')|date('Y-m-d') }}';
                    break;
                case '3':
                    dateExpInput.value = '{{ date('+3 months')|date('Y-m-d') }}';
                    break;
                default:
                    dateExpInput.value = '';
            }
        } 
    </script>
{% endblock %}
