<div class="panel-body">
       
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
<div class="form-body" style="    padding: 25px;
    margin-top: -26px;
    margin-bottom: 6px;
    margin-right: -190px;"> 

<div class="form-group col-md-9" style="display: inline-block;">
<label>Title</label>
    {{ form_widget(form.title,{attr:{'class':' form-control'}}) }}

</div></br></br>

<div class="form-group col-md-9" >
<label>Start</label>
    {{ form_widget(form.start,{attr:{'class':'form-control'}}) }}
<span style="color: red">
    {{ form_errors(form.start,{attr:{'class':'text-danger'}})  }}
</span>
</div></br>

<div class="form-group col-md-9" >
<label>End</label>
    {{ form_widget(form.end,{attr:{'class':'form-control'}}) }}
<span style="color: red">
    {{ form_errors(form.end,{attr:{'class':'text-danger'}})  }}
</span>
</div></br>
<div class="form-group col-md-9" >
<label>Description</label>
    {{ form_widget(form.description,{attr:{'class':'form-control'}}) }}
<span style="color: red">
    {{ form_errors(form.description,{attr:{'class':'text-danger'}})  }}
</span>
</div></br>
<div class="form-group col-md-9" >
<label>All_day</label>
    {{ form_widget(form.all_day,{attr:{'class':'checkbox'}}) }}
<span style="color: red">
    {{ form_errors(form.all_day,{attr:{'class':'text-danger'}})  }}
</span>
</div></br>
<div class="form-group col-md-9" >
<label>Background_color</label>
    {{ form_widget(form.background_color,{attr:{'class':'form-control'}}) }}
<span style="color: red">
    {{ form_errors(form.background_color,{attr:{'class':'text-danger'}})  }}
</span>
</div></br>
<div class="form-group col-md-9" >
<label>Border_color</label>
    {{ form_widget(form.border_color,{attr:{'class':'form-control'}}) }}
<span style="color: red">
    {{ form_errors(form.border_color,{attr:{'class':'text-danger'}})  }}
</span>
</div></br>
<div class="form-group col-md-9" >
<label>Text_color</label>
    {{ form_widget(form.text_color,{attr:{'class':'form-control'}}) }}
<span style="color: red">
    {{ form_errors(form.text_color,{attr:{'class':'text-danger'}})  }}
</span>
</div></br>

<div class="text-center">
<button type="submit" class="btn btn-primary" style=
"display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #48C9B0;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;" background-color: "#48C9B0;">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


<a type="submit" class="btn btn-sm btn-danger" 
style="display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #A3E4D7;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;" background-color: "#A3E4D7;" href="{{ path('app_calendar') }}">Back</a>
  </div>


{{ form_end(form) }}
</div>
</div> 