<div class="panel-body">

{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
<div class="form-body" style="    padding: 25px;
    margin-top: -26px;
    margin-bottom: 6px;
    margin-right: -165px;">                          
<div class="form-group col-md-5" style="display: inline-block;">
<label>Circuit</label>
    {{ form_widget(form.idcir,{attr:{'class':'form-select form-control'}}) }}
<span style="color: red">
    {{ form_errors(form.idcir,{attr:{'class':'text-danger'}})  }}
</span>
</div>

<div class="form-group col-md-5" style="display: inline-block;">
<label>Moyen de transport</label>
            {{ form_widget(form.idmoy, {'attr': {'class': 'form-select form-control', 'data-placeholder': 'Choisissez un moyen de transport'}}) }}
<span style="color: red">
    {{ form_errors(form.idmoy,{attr:{'class':'text-danger'}})  }}
</span>
</div>

<div class="form-group col-md-5" style="display: inline-block;">
<label>Heure de depart</label>

    {{ form_widget(form.dated,{attr:{'class':'form-control'}}) }}
<span style="color: red">
    {{ form_errors(form.dated,{attr:{'class':'text-danger'}})  }}
</span>
<span style="color: red">
    {% if msg is defined %}
    <span style="color: red">{{ msg }}</span>
{% endif %}
</span>
</div>
<div class="form-group col-md-5" style="display: inline-block;">
<label>Heure d'arrivée</label>
    {{ form_widget(form.datea,{attr:{'class':'form-control'}}) }}
<span style="color: red">
    {{ form_errors(form.datea,{attr:{'class':'text-danger'}})  }}
</span>

</div>

<div class="form-group col-md-5" style="display: inline-block;">
<label>prix</label>
    {{ form_widget(form.prix,{attr:{'class':'form-control'}}) }}
<span style="color: red">
    {{ form_errors(form.prix,{attr:{'class':'text-danger'}})  }}
</span>
</div>
</div>
    <div class="text-center">
<button class="btn btn-sm  " style="background-color: #363b5b; color: #fff; margin-top: -30px; width: 70px; margin-left: -36px;">{{ button_label|default('submit') }}</button>
<a class="btn btn-sm btn-danger" style="margin-top: -30px; width: 70px; " href="{{ path('app_planning_index') }}">Retour</a>
  </div>
{{ form_end(form) }}
</div>
</div>
