<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title>Wallet - Payday Loan Service Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
	<meta name="description" content="This is meta description">
	<meta name="author" content="Themefisher">
	<link rel="shortcut icon" href="{{asset('images/favicon.png')}}" type="image/x-icon">
	<link rel="icon" href="{{asset('images/favicon.png')}}" type="image/x-icon">
  
  <!-- theme meta -->
  <meta name="theme-name" content="wallet" />

	<!-- # Google Fonts -->
<link rel="preconnect" href="{{ asset('https://fonts.googleapis.com') }}">
<link rel="preconnect" href="{{ asset('https://fonts.gstatic.com') }}" crossorigin>
<link href="{{ asset('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap') }}" rel="stylesheet">


  <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

	<!-- # CSS Plugins -->
	<link rel="stylesheet" href="{{ asset('plugins/slick/slick.css')}}">
	<link rel="stylesheet" href="{{ asset('plugins/font-awesome/fontawesome.min.css')}}">
	<link rel="stylesheet" href="{{ asset('plugins/font-awesome/brands.css')}}">
	<link rel="stylesheet" href="{{ asset('plugins/font-awesome/solid.css')}}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">

	<!-- # Main Style Sheet -->
	<link rel="stylesheet" href="{{asset('css/style.css')}}">
</head>


<!-- navigation -->
<header class="navigation bg-tertiary">
	<nav class="navbar navbar-expand-xl navbar-light text-center py-3">
		<div class="container">
			<a class="navbar-brand" href="">
				<img loading="prelaod" decoding="async" class="img-fluid" width="160" src="{{ asset('uploads/whitDDe-paD-ddtexture.jpg') }}" alt="Wallet">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
<li class="nav-item"> <a class="nav-link" href="{{path('app_frontend')}}">Home</a>
					</li>
                    	
					<li class="nav-item "> <a class="nav-link" href="{{ path('app_offre_front') }}">Evenement</a>
					</li>
					<li class="nav-item "> <a class="nav-link" href="{{ path('calendrier') }}">Calendrier</a>
   	{% if app.user  != null %}
					{% if app.user.roleu == "Chauffeur" %}
						<li class="nav-item "> <a class="nav-link" href="{{ path('app_demande_new') }}">Demande</a>
						</li>
							 <li class="nav-item "> <a class="nav-link" href="{{ path('app_calendar') }}">Calendar</a>
					</li>
					{% endif %}
	{% endif %}

				<li class="nav-item"> <a class="nav-link" href="{{ path('app_reclamation_indexfront') }}">Consulter les Reclamations</a>
					</li>
                    		<li class="nav-item"> <a class="nav-link" href="{{ path('app_reclamation_new') }}">Passer Une Reclamation</a>
					</li>
					
					
		

               			


					<li class="nav-item"> <a class="nav-link" href="{{path('profilFront')}}">Profil</a>
					</li>


	<li class="nav-item "> <a class="nav-link" href="{{ path('app_abonnement_new') }}">Abonnement</a>
					</li>
                    	<li class="nav-item "> <a class="nav-link" href="{{ path('app_reservation_f') }}">Reservation</a>


				</ul>				<!-- account btn  <a href="{{ path('app_login') }}" class="btn btn-outline-primary">Log In</a> -->
				<!-- account btn  <a href="{{ path('app_register') }}" class="btn btn-primary ms-2 ms-lg-3">Sign Up</a> -->
			</div>
		</div>
	</nav>
</header>
<!-- /navigation -->
{% block body %}
<section class="about-section section bg-tertiary position-relative overflow-hidden">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="section-title">
          <h1>A propos de notre  site web de transport</h1>
          <p class="lead mb-0 mt-4">

           
           
            <p>Notre site de transport est la solution idéale pour tous vos besoins de déplacement</p>
            <p>Avec une vaste sélection de services de transport de haute qualité, notre plateforme est conçue pour répondre à tous vos besoins, 
          qu'il s'agisse de déplacements professionnels ou personnels.</p>
          <p> Nous offrons une gamme complète de services de transport, allant des taxis et des VTC aux bus et aux trains.  
           De plus, notre site est facile à utiliser et accessible 24 heures sur 24, 7 jours sur 7, 
           ce qui vous permet de réserver rapidement et facilement votre prochain déplacement en quelques clics.</p>
          <p> Avec notre site de transport, 
          vous êtes assuré de bénéficier d'un service de qualité, d'un trajet confortable et d'un prix compétitif.</p>

          <p></p>

        </div>
      </div>
      <div class="col-lg-7 text-center text-lg-end">
        <img loading="lazy" decoding="async" src="{{asset('uploads/Home.png') }}" style ="width: 407px;" alt="About Ourselves" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="has-shapes">
    <svg class="shape shape-left text-light" width="381" height="443" viewBox="0 0 381 443" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M334.266 499.007C330.108 469.108 304.151 446.496 276.261 435.921C248.372 425.346 218.077 424.035 188.666 419.32C159.254 414.589 128.795 405.375 108.664 383.129C72.8533 343.535 83.3445 282.01 77.7634 228.587C69.3017 147.754 15.4873 73.3967 -58.0001 40.9907"
        stroke="currentColor" stroke-miterlimit="10" />
      <path
        d="M349.584 485.51C345.427 455.611 319.469 433 291.58 422.425C263.69 411.85 233.395 410.538 203.984 405.823C174.573 401.092 144.114 391.878 123.982 369.632C88.1716 330.038 98.6628 268.513 93.0817 215.09C84.62 134.258 30.8056 59.8999 -42.6819 27.494"
        stroke="currentColor" stroke-miterlimit="10" />
      <path
        d="M364.904 472.013C360.747 442.114 334.789 419.503 306.9 408.928C279.011 398.352 248.716 397.041 219.304 392.326C189.893 387.595 159.434 378.381 139.303 356.135C103.492 316.541 113.983 255.016 108.402 201.593C99.9403 120.76 46.1259 46.4028 -27.3616 13.9969"
        stroke="currentColor" stroke-miterlimit="10" />
      <path
        d="M380.24 458.516C376.083 428.617 350.125 406.006 322.236 395.431C294.347 384.856 264.051 383.544 234.64 378.829C205.229 374.098 174.77 364.884 154.639 342.638C118.828 303.044 129.319 241.519 123.738 188.096C115.276 107.264 61.4619 32.906 -12.0255 0.500103"
        stroke="currentColor" stroke-miterlimit="10" />
    </svg>
    <svg class="shape shape-right text-light" width="406" height="433" viewBox="0 0 406 433" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M101.974 -86.77C128.962 -74.8992 143.467 -43.2447 146.175 -12.7857C148.883 17.6734 142.273 48.1263 139.087 78.5816C135.916 109.041 136.681 141.702 152.351 167.47C180.247 213.314 240.712 218.81 289.413 238.184C363.095 267.516 418.962 340.253 430.36 421.687"
        stroke="currentColor" stroke-miterlimit="10" />
      <path
        d="M118.607 -98.5031C145.596 -86.6323 160.101 -54.9778 162.809 -24.5188C165.517 5.94031 158.907 36.3933 155.72 66.8486C152.549 97.3082 153.314 129.969 168.985 155.737C196.881 201.581 257.346 207.077 306.047 226.451C379.729 255.783 435.596 328.52 446.994 409.954"
        stroke="currentColor" stroke-miterlimit="10" />
      <path
        d="M135.241 -110.238C162.23 -98.3675 176.735 -66.7131 179.443 -36.254C182.151 -5.79492 175.541 24.6581 172.354 55.1134C169.183 85.573 169.948 118.234 185.619 144.002C213.515 189.846 273.98 195.342 322.681 214.716C396.363 244.048 452.23 316.785 463.627 398.219"
        stroke="currentColor" stroke-miterlimit="10" />
      <path
        d="M151.879 -121.989C178.867 -110.118 193.373 -78.4638 196.081 -48.0047C198.789 -17.5457 192.179 12.9074 188.992 43.3627C185.821 73.8223 186.586 106.483 202.256 132.251C230.153 178.095 290.618 183.591 339.318 202.965C413.001 232.297 468.867 305.034 480.265 386.468"
        stroke="currentColor" stroke-miterlimit="10" />
    </svg>
  </div>
</section>

<section class="banner bg-tertiary position-relative overflow-hidden">
  <div class="container">
  <h1>Notre vidéo de commercialisation :</h1>
    <div class="row align-items-center justify-content-center">
 <video autoplay controls>
  <source  src="{{asset('work.mov')}}" type="video/mp4">
 </video>

  </div>
  </div>
</section>


{% endblock %}

<footer class="section-sm bg-tertiary">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-2 col-md-4 col-6 mb-4">
				<div class="footer-widget">
					<h5 class="mb-4 text-primary font-secondary">Service</h5>
					<ul class="list-unstyled">
						<li class="mb-2"><a href="service-details.html">Personal loans</a>
						</li>
						<li class="mb-2"><a href="service-details.html">Home Equity Loans</a>
						</li>
						<li class="mb-2"><a href="service-details.html">Student Loans</a>
						</li>
						<li class="mb-2"><a href="service-details.html">Mortgage Loans</a>
						</li>
						<li class="mb-2"><a href="service-details.html">Payday Loans</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-6 mb-4">
				<div class="footer-widget">
					<h5 class="mb-4 text-primary font-secondary">About</h5>
					<ul class="list-unstyled">
						<li class="mb-2"><a href="#!">Benefits</a>
						</li>
						<li class="mb-2"><a href="#!">Careers</a>
						</li>
						<li class="mb-2"><a href="#!">Our Story</a>
						</li>
						<li class="mb-2"><a href="#!">Team</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-6 mb-4">
				<div class="footer-widget">
					<h5 class="mb-4 text-primary font-secondary">Help</h5>
					<ul class="list-unstyled">
						<li class="mb-2"><a href="contact.html">Contact Us</a>
						</li>
						<li class="mb-2"><a href="faq.html">FAQs</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-12 newsletter-form">
				<div style="background-color: #F4F4F4; padding: 35px;">
					<h5 class="mb-4 text-primary font-secondary">Subscribe</h5>
					<div class="pe-0 pe-xl-5">
						<form action="#!" method="post" name="mc-embedded-subscribe-form" target="_blank">
							<div class="input-group mb-3">
								<input type="text" class="form-control shadow-none bg-white border-end-0" placeholder="Email address"> <span class="input-group-text border-0 p-0">
                    <button class="input-group-text border-0 bg-primary" type="submit" name="subscribe"
                      aria-label="Subscribe for Newsletter"><i class="fas fa-arrow-right"></i></button>
                  </span>
							</div>
							<div style="position: absolute; left: -5000px;" aria-hidden="true">
								<input type="text" name="b_463ee871f45d2d93748e77cad_a0a2c6d074" tabindex="-1">
							</div>
						</form>
					</div>
					<p class="mb-0">Lorem ipsum dolor sit amet, rdghds consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
				</div>
			</div>
		</div>
		<div class="row align-items-center mt-5 text-center text-md-start">
			<div class="col-lg-4">
        <a href="index.html">
          <img loading="prelaod" decoding="async" class="img-fluid" width="160" src="images/logo.png" alt="Wallet">
        </a>
			</div>
			<div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
				<ul class="list-unstyled list-inline mb-0 text-lg-center">
					<li class="list-inline-item me-4"><a class="text-black" href="privacy-policy.html">Privacy Policy</a>
					</li>
					<li class="list-inline-item me-4"><a class="text-black" href="terms.html">Terms &amp; Conditions</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-6 text-md-end mt-4 mt-md-0">
				<ul class="list-unstyled list-inline mb-0 social-icons">
					<li class="list-inline-item me-3"><a title="Explorer Facebook Profile" class="text-black" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
					</li>
					<li class="list-inline-item me-3"><a title="Explorer Twitter Profile" class="text-black" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
					</li>
					<li class="list-inline-item me-3"><a title="Explorer Instagram Profile" class="text-black" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js" integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}

<!-- # JS Plugins -->
<script src="{{asset('plugins/jquery/jquery.min.js')}}"></script>
<script src="{{asset('plugins/bootstrap/bootstrap.min.js')}}"></script>
<script src="{{asset('plugins/slick/slick.min.')}}"></script>
<script src="{{asset('plugins/scrollmenu/scrollmenu.min.js')}}"></script>

<!-- Main Script -->
<script src="{{asset('js/script.js')}}"></script>

</html>
